<!DOCTYPE html>
<html lang="{{ SITE_LANG }}">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
		{% if SITE_DESCRIPTION %}
  		<meta name="description" content="{{ SITE_DESCRIPTION }}">
		{% endif %}
		<link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.ico">
		<link rel="dns-prefetch" href="{{ SITEURL }}"/>
		<link rel="dns-prefetch" href="https:fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400"/>
		<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/screen.css">
		<link rel="stylesheet" type="text/css" href="https:fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
		{% if FEED_RSS %}
		<link href="{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
		{% endif %}
	</head>
	<body class="{% block template_type %}home-template{% endblock %} nav-closed" itemscope itemtype="http://schema.org/WebPage">
		{% include 'navigation.html' %}
		<div class="site-wrapper">
			<header class="main-header{% block header_type %}{% endblock %}" style="background-image: url('{% block header_image %}{{ DEFAULT_HEADER_IMAGE }}{% endblock %}');">
				<nav class="main-nav overlay clearfix">
					<a id="site-home-link" title="Inicio" href="{{ SITEURL }}"></a>
					<a class="menu-button" href="#">
						<span class="burger">&#9776;</span>
						<span class="word">Menu</span>
					</a>
				</nav>
				<div class="vertical">
					<div class="main-header-content inner">
						{% block header_title %}
						<h1 class="page-title">{{ SITENAME }}</h1>
						<h2 class="page-description">{{TAG_LINE}}</h2>
						{% endblock %}
					</div>
				</div>
				{% block scroll %}
				<a class="scroll-down icon-arrow-left blink_me" href="#content" data-offset="-45">
					<span class="hidden">Scroll Down</span>
				</a>
				{% endblock %}
			</header>
			{% block content %}
			{% endblock %}
			<footer class="site-footer clearfix">
				<section class="copyright">
					<a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
						CC Attribution-ShareAlike 4.0 International License</a>.
				</section>
				<section class="poweredby">
					Proudly published with
					<a href="https://getpelican.org" target="_blank">Pelican</a>
				</section>
			</footer>
		</div>
	<script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.fitvids.min.js"></script>
	<script type="text/javascript" src="{{ SITEURL }}/theme/js/index.min.js"></script>
	</body>
</html>
